<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.AddressMapper">

    <select id="getAddressById" resultType="com.zb.pojo.Address">
        select
                id as id,
                name as name,
                phone as phone,
                address as address,
                userid as userid
        from address
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getAddressListByMap" resultType="com.zb.pojo.Address" parameterType="java.util.Map">
        select
                id as id,
                name as name,
                phone as phone,
                address as address,
                userid as userid
        from address
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="name != null and name!=''">
                    and name=#{name}
                </if>
                <if test="phone != null and phone!=''">
                    and phone=#{phone}
                </if>
                <if test="address != null and address!=''">
                    and address=#{address}
                </if>
                <if test="userid != null and userid!=''">
                    and userid=#{userid}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getAddressCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from address
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="name != null and name!=''">
                    and name=#{name}
                </if>
                <if test="phone != null and phone!=''">
                    and phone=#{phone}
                </if>
                <if test="address != null and address!=''">
                    and address=#{address}
                </if>
                <if test="userid != null and userid!=''">
                    and userid=#{userid}
                </if>
        </trim>
    </select>

    <insert id="insertAddress" parameterType="com.zb.pojo.Address">
        insert into address(
                        name,
                        phone,
                        address,
                        userid)
        values(
                     #{name},
                     #{phone},
                     #{address},
                    #{userid})
    </insert>

    <update id="updateAddress" parameterType="com.zb.pojo.Address">
        update address
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="name != null and name!=''">
                            name=#{name},
                        </if>
                        <if test="phone != null and phone!=''">
                            phone=#{phone},
                        </if>
                        <if test="address != null and address!=''">
                            address=#{address},
                        </if>
                        <if test="userid != null and userid!=''">
                            userid=#{userid}
                        </if>
        </trim>
    </update>

    <delete id="deleteAddressById" parameterType="java.util.List">
        delete from `address` where id=#{id}
    </delete>

</mapper>