<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.CartMapper">

    <select id="getCartById" resultType="com.zb.pojo.Cart">
        select
                id as id,
                userId as userId,
                orderNo as orderNo,
                goodsId as goodsId,
                num as num,
                amount as amount,
                aliTradeNo as aliTradeNo,
                createdTime as createdTime,
                updatedTime as updatedTime,
                version as version,
                status as status
        from cart
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getCartListByuserId" resultType="com.zb.pojo.Cart" >
        select * from cart
       where userId=#{userId}

    </select>



    <insert id="insertCart" parameterType="com.zb.pojo.Cart">
        insert into cart(
                          id,
                        userId,
                        orderNo,
                        goodsId,
                        num,
                        amount,
                        aliTradeNo,
                        createdTime,
                        updatedTime,
                        version,
                        status)
        values(
                     #{id},
                     #{userId},
                     #{orderNo},
                     #{goodsId},
                     #{num},
                     #{amount},
                     #{aliTradeNo},
                    now(),
                    now(),
                     0,
                    0)
    </insert>

    <update id="updateCart" parameterType="com.zb.pojo.Cart">
        update cart
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id} ">

                        <if test="orderNo != null and orderNo!=''">
                            orderNo=#{orderNo},
                        </if>
                        <if test="goodsId != null and goodsId!=''">
                            goodsId=#{goodsId},
                        </if>
                        <if test="num != null and num!=''">
                            num=#{num},
                        </if>
                        <if test="amount != null and amount!=''">
                            amount=#{amount},
                        </if>
                        <if test="aliTradeNo != null and aliTradeNo!=''">
                            aliTradeNo=#{aliTradeNo},
                        </if>
                        <if test="createdTime != null and createdTime!=''">
                            createdTime=#{createdTime},
                        </if>
                        <if test="updatedTime != null and updatedTime!=''">
                            updatedTime=#{updatedTime},
                        </if>
                        <if test="version != null and version!=''">
                            version=#{version},
                        </if>
                        <if test="status != null and status!=''">
                            status=#{status}
                        </if>
        </trim>
    </update>
</mapper>