<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.GoodsMapper">

    <select id="getGoodsById" resultType="com.zb.pojo.Goods">
        select
                id as id,
                goodsId as goodsId,
                itemLink as itemLink,
                title as title,
                dtitle as dtitle,
                desc as desc,
                cid as cid,
                subcid as subcid,
                tbcid as tbcid,
                mainPic as mainPic,
                marketingMainPic as marketingMainPic,
                originalPrice as originalPrice,
                actualPrice as actualPrice,
                discounts as discounts,
                commissionType as commissionType,
                commissionRate as commissionRate,
                couponLink as couponLink,
                couponTotalNum as couponTotalNum,
                couponReceiveNum as couponReceiveNum,
                couponEndTime as couponEndTime,
                couponStartTime as couponStartTime,
                couponPrice as couponPrice,
                couponConditions as couponConditions,
                monthSales as monthSales,
                twoHoursSales as twoHoursSales,
                dailySales as dailySales,
                brand as brand,
                brandId as brandId,
                brandName as brandName,
                createTime as createTime,
                tchaoshi as tchaoshi,
                activityType as activityType,
                activityStartTime as activityStartTime,
                activityEndTime as activityEndTime,
                shopType as shopType,
                haitao as haitao,
                goldSellers as goldSellers,
                sellerId as sellerId,
                shopName as shopName,
                shopLevel as shopLevel,
                descScore as descScore,
                dsrScore as dsrScore,
                dsrPercent as dsrPercent,
                shipScore as shipScore,
                shipPercent as shipPercent,
                serviceScore as serviceScore,
                servicePercent as servicePercent,
                hotPush as hotPush,
                teamName as teamName
        from goods
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getGoodsListByMap" resultType="com.zb.pojo.Goods" parameterType="java.util.Map">
        select
                id as id,
                goodsId as goodsId,
                itemLink as itemLink,
                title as title,
                dtitle as dtitle,
                desc as desc,
                cid as cid,
                subcid as subcid,
                tbcid as tbcid,
                mainPic as mainPic,
                marketingMainPic as marketingMainPic,
                originalPrice as originalPrice,
                actualPrice as actualPrice,
                discounts as discounts,
                commissionType as commissionType,
                commissionRate as commissionRate,
                couponLink as couponLink,
                couponTotalNum as couponTotalNum,
                couponReceiveNum as couponReceiveNum,
                couponEndTime as couponEndTime,
                couponStartTime as couponStartTime,
                couponPrice as couponPrice,
                couponConditions as couponConditions,
                monthSales as monthSales,
                twoHoursSales as twoHoursSales,
                dailySales as dailySales,
                brand as brand,
                brandId as brandId,
                brandName as brandName,
                createTime as createTime,
                tchaoshi as tchaoshi,
                activityType as activityType,
                activityStartTime as activityStartTime,
                activityEndTime as activityEndTime,
                shopType as shopType,
                haitao as haitao,
                goldSellers as goldSellers,
                sellerId as sellerId,
                shopName as shopName,
                shopLevel as shopLevel,
                descScore as descScore,
                dsrScore as dsrScore,
                dsrPercent as dsrPercent,
                shipScore as shipScore,
                shipPercent as shipPercent,
                serviceScore as serviceScore,
                servicePercent as servicePercent,
                hotPush as hotPush,
                teamName as teamName
        from goods
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="goodsId != null and goodsId!=''">
                    and goodsId=#{goodsId}
                </if>
                <if test="itemLink != null and itemLink!=''">
                    and itemLink=#{itemLink}
                </if>
                <if test="title != null and title!=''">
                    and title=#{title}
                </if>
                <if test="dtitle != null and dtitle!=''">
                    and dtitle=#{dtitle}
                </if>
                <if test="desc != null and desc!=''">
                    and desc=#{desc}
                </if>
                <if test="cid != null and cid!=''">
                    and cid=#{cid}
                </if>
                <if test="subcid != null and subcid!=''">
                    and subcid=#{subcid}
                </if>
                <if test="tbcid != null and tbcid!=''">
                    and tbcid=#{tbcid}
                </if>
                <if test="mainPic != null and mainPic!=''">
                    and mainPic=#{mainPic}
                </if>
                <if test="marketingMainPic != null and marketingMainPic!=''">
                    and marketingMainPic=#{marketingMainPic}
                </if>
                <if test="originalPrice != null and originalPrice!=''">
                    and originalPrice=#{originalPrice}
                </if>
                <if test="actualPrice != null and actualPrice!=''">
                    and actualPrice=#{actualPrice}
                </if>
                <if test="discounts != null and discounts!=''">
                    and discounts=#{discounts}
                </if>
                <if test="commissionType != null and commissionType!=''">
                    and commissionType=#{commissionType}
                </if>
                <if test="commissionRate != null and commissionRate!=''">
                    and commissionRate=#{commissionRate}
                </if>
                <if test="couponLink != null and couponLink!=''">
                    and couponLink=#{couponLink}
                </if>
                <if test="couponTotalNum != null and couponTotalNum!=''">
                    and couponTotalNum=#{couponTotalNum}
                </if>
                <if test="couponReceiveNum != null and couponReceiveNum!=''">
                    and couponReceiveNum=#{couponReceiveNum}
                </if>
                <if test="couponEndTime != null and couponEndTime!=''">
                    and couponEndTime=#{couponEndTime}
                </if>
                <if test="couponStartTime != null and couponStartTime!=''">
                    and couponStartTime=#{couponStartTime}
                </if>
                <if test="couponPrice != null and couponPrice!=''">
                    and couponPrice=#{couponPrice}
                </if>
                <if test="couponConditions != null and couponConditions!=''">
                    and couponConditions=#{couponConditions}
                </if>
                <if test="monthSales != null and monthSales!=''">
                    and monthSales=#{monthSales}
                </if>
                <if test="twoHoursSales != null and twoHoursSales!=''">
                    and twoHoursSales=#{twoHoursSales}
                </if>
                <if test="dailySales != null and dailySales!=''">
                    and dailySales=#{dailySales}
                </if>
                <if test="brand != null and brand!=''">
                    and brand=#{brand}
                </if>
                <if test="brandId != null and brandId!=''">
                    and brandId=#{brandId}
                </if>
                <if test="brandName != null and brandName!=''">
                    and brandName=#{brandName}
                </if>
                <if test="createTime != null and createTime!=''">
                    and createTime=#{createTime}
                </if>
                <if test="tchaoshi != null and tchaoshi!=''">
                    and tchaoshi=#{tchaoshi}
                </if>
                <if test="activityType != null and activityType!=''">
                    and activityType=#{activityType}
                </if>
                <if test="activityStartTime != null and activityStartTime!=''">
                    and activityStartTime=#{activityStartTime}
                </if>
                <if test="activityEndTime != null and activityEndTime!=''">
                    and activityEndTime=#{activityEndTime}
                </if>
                <if test="shopType != null and shopType!=''">
                    and shopType=#{shopType}
                </if>
                <if test="haitao != null and haitao!=''">
                    and haitao=#{haitao}
                </if>
                <if test="goldSellers != null and goldSellers!=''">
                    and goldSellers=#{goldSellers}
                </if>
                <if test="sellerId != null and sellerId!=''">
                    and sellerId=#{sellerId}
                </if>
                <if test="shopName != null and shopName!=''">
                    and shopName=#{shopName}
                </if>
                <if test="shopLevel != null and shopLevel!=''">
                    and shopLevel=#{shopLevel}
                </if>
                <if test="descScore != null and descScore!=''">
                    and descScore=#{descScore}
                </if>
                <if test="dsrScore != null and dsrScore!=''">
                    and dsrScore=#{dsrScore}
                </if>
                <if test="dsrPercent != null and dsrPercent!=''">
                    and dsrPercent=#{dsrPercent}
                </if>
                <if test="shipScore != null and shipScore!=''">
                    and shipScore=#{shipScore}
                </if>
                <if test="shipPercent != null and shipPercent!=''">
                    and shipPercent=#{shipPercent}
                </if>
                <if test="serviceScore != null and serviceScore!=''">
                    and serviceScore=#{serviceScore}
                </if>
                <if test="servicePercent != null and servicePercent!=''">
                    and servicePercent=#{servicePercent}
                </if>
                <if test="hotPush != null and hotPush!=''">
                    and hotPush=#{hotPush}
                </if>
                <if test="teamName != null and teamName!=''">
                    and teamName=#{teamName}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getGoodsCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from goods
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="goodsId != null and goodsId!=''">
                    and goodsId=#{goodsId}
                </if>
                <if test="itemLink != null and itemLink!=''">
                    and itemLink=#{itemLink}
                </if>
                <if test="title != null and title!=''">
                    and title=#{title}
                </if>
                <if test="dtitle != null and dtitle!=''">
                    and dtitle=#{dtitle}
                </if>
                <if test="desc != null and desc!=''">
                    and desc=#{desc}
                </if>
                <if test="cid != null and cid!=''">
                    and cid=#{cid}
                </if>
                <if test="subcid != null and subcid!=''">
                    and subcid=#{subcid}
                </if>
                <if test="tbcid != null and tbcid!=''">
                    and tbcid=#{tbcid}
                </if>
                <if test="mainPic != null and mainPic!=''">
                    and mainPic=#{mainPic}
                </if>
                <if test="marketingMainPic != null and marketingMainPic!=''">
                    and marketingMainPic=#{marketingMainPic}
                </if>
                <if test="originalPrice != null and originalPrice!=''">
                    and originalPrice=#{originalPrice}
                </if>
                <if test="actualPrice != null and actualPrice!=''">
                    and actualPrice=#{actualPrice}
                </if>
                <if test="discounts != null and discounts!=''">
                    and discounts=#{discounts}
                </if>
                <if test="commissionType != null and commissionType!=''">
                    and commissionType=#{commissionType}
                </if>
                <if test="commissionRate != null and commissionRate!=''">
                    and commissionRate=#{commissionRate}
                </if>
                <if test="couponLink != null and couponLink!=''">
                    and couponLink=#{couponLink}
                </if>
                <if test="couponTotalNum != null and couponTotalNum!=''">
                    and couponTotalNum=#{couponTotalNum}
                </if>
                <if test="couponReceiveNum != null and couponReceiveNum!=''">
                    and couponReceiveNum=#{couponReceiveNum}
                </if>
                <if test="couponEndTime != null and couponEndTime!=''">
                    and couponEndTime=#{couponEndTime}
                </if>
                <if test="couponStartTime != null and couponStartTime!=''">
                    and couponStartTime=#{couponStartTime}
                </if>
                <if test="couponPrice != null and couponPrice!=''">
                    and couponPrice=#{couponPrice}
                </if>
                <if test="couponConditions != null and couponConditions!=''">
                    and couponConditions=#{couponConditions}
                </if>
                <if test="monthSales != null and monthSales!=''">
                    and monthSales=#{monthSales}
                </if>
                <if test="twoHoursSales != null and twoHoursSales!=''">
                    and twoHoursSales=#{twoHoursSales}
                </if>
                <if test="dailySales != null and dailySales!=''">
                    and dailySales=#{dailySales}
                </if>
                <if test="brand != null and brand!=''">
                    and brand=#{brand}
                </if>
                <if test="brandId != null and brandId!=''">
                    and brandId=#{brandId}
                </if>
                <if test="brandName != null and brandName!=''">
                    and brandName=#{brandName}
                </if>
                <if test="createTime != null and createTime!=''">
                    and createTime=#{createTime}
                </if>
                <if test="tchaoshi != null and tchaoshi!=''">
                    and tchaoshi=#{tchaoshi}
                </if>
                <if test="activityType != null and activityType!=''">
                    and activityType=#{activityType}
                </if>
                <if test="activityStartTime != null and activityStartTime!=''">
                    and activityStartTime=#{activityStartTime}
                </if>
                <if test="activityEndTime != null and activityEndTime!=''">
                    and activityEndTime=#{activityEndTime}
                </if>
                <if test="shopType != null and shopType!=''">
                    and shopType=#{shopType}
                </if>
                <if test="haitao != null and haitao!=''">
                    and haitao=#{haitao}
                </if>
                <if test="goldSellers != null and goldSellers!=''">
                    and goldSellers=#{goldSellers}
                </if>
                <if test="sellerId != null and sellerId!=''">
                    and sellerId=#{sellerId}
                </if>
                <if test="shopName != null and shopName!=''">
                    and shopName=#{shopName}
                </if>
                <if test="shopLevel != null and shopLevel!=''">
                    and shopLevel=#{shopLevel}
                </if>
                <if test="descScore != null and descScore!=''">
                    and descScore=#{descScore}
                </if>
                <if test="dsrScore != null and dsrScore!=''">
                    and dsrScore=#{dsrScore}
                </if>
                <if test="dsrPercent != null and dsrPercent!=''">
                    and dsrPercent=#{dsrPercent}
                </if>
                <if test="shipScore != null and shipScore!=''">
                    and shipScore=#{shipScore}
                </if>
                <if test="shipPercent != null and shipPercent!=''">
                    and shipPercent=#{shipPercent}
                </if>
                <if test="serviceScore != null and serviceScore!=''">
                    and serviceScore=#{serviceScore}
                </if>
                <if test="servicePercent != null and servicePercent!=''">
                    and servicePercent=#{servicePercent}
                </if>
                <if test="hotPush != null and hotPush!=''">
                    and hotPush=#{hotPush}
                </if>
                <if test="teamName != null and teamName!=''">
                    and teamName=#{teamName}
                </if>
        </trim>
    </select>

    <insert id="insertGoods" parameterType="com.zb.pojo.Goods">
        insert into goods(
                        goodsId,
                        itemLink,
                        title,
                        dtitle,
                        desc,
                        cid,
                        subcid,
                        tbcid,
                        mainPic,
                        marketingMainPic,
                        originalPrice,
                        actualPrice,
                        discounts,
                        commissionType,
                        commissionRate,
                        couponLink,
                        couponTotalNum,
                        couponReceiveNum,
                        couponEndTime,
                        couponStartTime,
                        couponPrice,
                        couponConditions,
                        monthSales,
                        twoHoursSales,
                        dailySales,
                        brand,
                        brandId,
                        brandName,
                        createTime,
                        tchaoshi,
                        activityType,
                        activityStartTime,
                        activityEndTime,
                        shopType,
                        haitao,
                        goldSellers,
                        sellerId,
                        shopName,
                        shopLevel,
                        descScore,
                        dsrScore,
                        dsrPercent,
                        shipScore,
                        shipPercent,
                        serviceScore,
                        servicePercent,
                        hotPush,
                        teamName)
        values(
                     #{goodsId},
                     #{itemLink},
                     #{title},
                     #{dtitle},
                     #{desc},
                     #{cid},
                     #{subcid},
                     #{tbcid},
                     #{mainPic},
                     #{marketingMainPic},
                     #{originalPrice},
                     #{actualPrice},
                     #{discounts},
                     #{commissionType},
                     #{commissionRate},
                     #{couponLink},
                     #{couponTotalNum},
                     #{couponReceiveNum},
                     #{couponEndTime},
                     #{couponStartTime},
                     #{couponPrice},
                     #{couponConditions},
                     #{monthSales},
                     #{twoHoursSales},
                     #{dailySales},
                     #{brand},
                     #{brandId},
                     #{brandName},
                     #{createTime},
                     #{tchaoshi},
                     #{activityType},
                     #{activityStartTime},
                     #{activityEndTime},
                     #{shopType},
                     #{haitao},
                     #{goldSellers},
                     #{sellerId},
                     #{shopName},
                     #{shopLevel},
                     #{descScore},
                     #{dsrScore},
                     #{dsrPercent},
                     #{shipScore},
                     #{shipPercent},
                     #{serviceScore},
                     #{servicePercent},
                     #{hotPush},
                    #{teamName})
    </insert>

    <update id="updateGoods" parameterType="com.zb.pojo.Goods">
        update goods
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="goodsId != null and goodsId!=''">
                            goodsId=#{goodsId},
                        </if>
                        <if test="itemLink != null and itemLink!=''">
                            itemLink=#{itemLink},
                        </if>
                        <if test="title != null and title!=''">
                            title=#{title},
                        </if>
                        <if test="dtitle != null and dtitle!=''">
                            dtitle=#{dtitle},
                        </if>
                        <if test="desc != null and desc!=''">
                            desc=#{desc},
                        </if>
                        <if test="cid != null and cid!=''">
                            cid=#{cid},
                        </if>
                        <if test="subcid != null and subcid!=''">
                            subcid=#{subcid},
                        </if>
                        <if test="tbcid != null and tbcid!=''">
                            tbcid=#{tbcid},
                        </if>
                        <if test="mainPic != null and mainPic!=''">
                            mainPic=#{mainPic},
                        </if>
                        <if test="marketingMainPic != null and marketingMainPic!=''">
                            marketingMainPic=#{marketingMainPic},
                        </if>
                        <if test="originalPrice != null and originalPrice!=''">
                            originalPrice=#{originalPrice},
                        </if>
                        <if test="actualPrice != null and actualPrice!=''">
                            actualPrice=#{actualPrice},
                        </if>
                        <if test="discounts != null and discounts!=''">
                            discounts=#{discounts},
                        </if>
                        <if test="commissionType != null and commissionType!=''">
                            commissionType=#{commissionType},
                        </if>
                        <if test="commissionRate != null and commissionRate!=''">
                            commissionRate=#{commissionRate},
                        </if>
                        <if test="couponLink != null and couponLink!=''">
                            couponLink=#{couponLink},
                        </if>
                        <if test="couponTotalNum != null and couponTotalNum!=''">
                            couponTotalNum=#{couponTotalNum},
                        </if>
                        <if test="couponReceiveNum != null and couponReceiveNum!=''">
                            couponReceiveNum=#{couponReceiveNum},
                        </if>
                        <if test="couponEndTime != null and couponEndTime!=''">
                            couponEndTime=#{couponEndTime},
                        </if>
                        <if test="couponStartTime != null and couponStartTime!=''">
                            couponStartTime=#{couponStartTime},
                        </if>
                        <if test="couponPrice != null and couponPrice!=''">
                            couponPrice=#{couponPrice},
                        </if>
                        <if test="couponConditions != null and couponConditions!=''">
                            couponConditions=#{couponConditions},
                        </if>
                        <if test="monthSales != null and monthSales!=''">
                            monthSales=#{monthSales},
                        </if>
                        <if test="twoHoursSales != null and twoHoursSales!=''">
                            twoHoursSales=#{twoHoursSales},
                        </if>
                        <if test="dailySales != null and dailySales!=''">
                            dailySales=#{dailySales},
                        </if>
                        <if test="brand != null and brand!=''">
                            brand=#{brand},
                        </if>
                        <if test="brandId != null and brandId!=''">
                            brandId=#{brandId},
                        </if>
                        <if test="brandName != null and brandName!=''">
                            brandName=#{brandName},
                        </if>
                        <if test="createTime != null and createTime!=''">
                            createTime=#{createTime},
                        </if>
                        <if test="tchaoshi != null and tchaoshi!=''">
                            tchaoshi=#{tchaoshi},
                        </if>
                        <if test="activityType != null and activityType!=''">
                            activityType=#{activityType},
                        </if>
                        <if test="activityStartTime != null and activityStartTime!=''">
                            activityStartTime=#{activityStartTime},
                        </if>
                        <if test="activityEndTime != null and activityEndTime!=''">
                            activityEndTime=#{activityEndTime},
                        </if>
                        <if test="shopType != null and shopType!=''">
                            shopType=#{shopType},
                        </if>
                        <if test="haitao != null and haitao!=''">
                            haitao=#{haitao},
                        </if>
                        <if test="goldSellers != null and goldSellers!=''">
                            goldSellers=#{goldSellers},
                        </if>
                        <if test="sellerId != null and sellerId!=''">
                            sellerId=#{sellerId},
                        </if>
                        <if test="shopName != null and shopName!=''">
                            shopName=#{shopName},
                        </if>
                        <if test="shopLevel != null and shopLevel!=''">
                            shopLevel=#{shopLevel},
                        </if>
                        <if test="descScore != null and descScore!=''">
                            descScore=#{descScore},
                        </if>
                        <if test="dsrScore != null and dsrScore!=''">
                            dsrScore=#{dsrScore},
                        </if>
                        <if test="dsrPercent != null and dsrPercent!=''">
                            dsrPercent=#{dsrPercent},
                        </if>
                        <if test="shipScore != null and shipScore!=''">
                            shipScore=#{shipScore},
                        </if>
                        <if test="shipPercent != null and shipPercent!=''">
                            shipPercent=#{shipPercent},
                        </if>
                        <if test="serviceScore != null and serviceScore!=''">
                            serviceScore=#{serviceScore},
                        </if>
                        <if test="servicePercent != null and servicePercent!=''">
                            servicePercent=#{servicePercent},
                        </if>
                        <if test="hotPush != null and hotPush!=''">
                            hotPush=#{hotPush},
                        </if>
                        <if test="teamName != null and teamName!=''">
                            teamName=#{teamName}
                        </if>
        </trim>
    </update>
</mapper>